.App {
  text-align: center;
  margin-left: 200px;
}

.main-section {
  padding: 0%;
  margin-top: 0%;
  display: flex;
  flex-direction:column;
  text-align: center;
  height: 100vh;
  width: 100vw - 200px;
  margin-left: 200px;
  overflow-y: overlay;
  /* background-color: #282c34; */
  background: rgb(2,0,36);
  background: repeating-linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
  background-repeat: repeat;
  background-attachment:scroll;
}
#contact-card-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  max-width: 125px;
  height: auto;
}
.contact-card {
  /* position: absolute;
  top: 20px;
  right: 20px; */
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 125px;
  height: auto;
  border: aliceblue 2px solid;
  overflow-x: hidden;
  padding: 7px;
  border-radius: 15px;
  background-color: aliceblue;
  transition: ease-in 150ms;
  text-decoration: none;
  color: black;
  font-size: 11px;
  margin-bottom: 10px;
}
.contact-card-appear {
  animation-delay: 2s;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
          
  }


.contact-card:hover {
  background-color:rgba(0,212,255,1);
  border-color: rgba(0,212,255,1);
  cursor: pointer;
}

.card {
  text-align: center;
  border: aliceblue 2px solid;
  background-color: aliceblue;
  border-radius: 25px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
  
}
.proj-btn-container {
  display: flex;
  flex-direction: column;
  float: right;
  padding: 5px;
  
}
.proj-btn {
  text-decoration: none;
  font-weight: bold;
  color: aliceblue;
  margin: 5px;
  padding: 10px;
  background-color:midnightblue;
  border-radius: 10px;
  transition: ease-in 200ms;
}
.proj-btn:hover {
  background-color:rgba(0,212,255,1);
  border-color: rgba(0,212,255,1);
  cursor: pointer;
}
.card-img {
  max-width: 150px;
  max-height: 150px;
  padding: 10px;
}
.card-desc {
  color:black;
  padding: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px 10vw;
  height: 80vh;
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
	        animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
}
.fade-in-bottom-medium {
	-webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.4s both;
	        animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.4s both;
}
.fade-in-bottom-long {
	-webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.6s both;
	        animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.6s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-11-26 16:35:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


.appear {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.move-in {
  
}


/* 
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
} */

nav {
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 100vh;
  width: 200px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: black;
}

.btn-container {
  display: flex;
  align-items: center;
  background-color: black;
  padding-left: 15px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.btn-container:hover {
  cursor: pointer;
}
.btn {
  color: grey;
  transition: 100ms color ease-in;
}
.btn-container:hover > .btn {
  color: white;
}
.icon {
  padding-right: 10px;
  color: grey;
  transition: 100ms color ease-in;
}
.btn-container:hover > .icon {
  color: white;
}

header {
  padding: 0%;
  margin: 0%;
  /* background: rgb(4, 0, 48); */
  background: rgb(3, 0, 28);
  color: white;
}
/* 
.css_selector{
background: linear-gradient(50deg, #0021c0, #05dfe7, #00fe96, #00d417);
background-size: 800% 800%;

-webkit-animation: AnimationName 8s ease infinite;
-moz-animation: AnimationName 8s ease infinite;
animation: AnimationName 8s ease infinite; 
}*/
/* @-webkit-keyframes AnimationName {
  0%{background-position:0% 94%}
  50%{background-position:100% 7%}
  100%{background-position:0% 94%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 94%}
  50%{background-position:100% 7%}
  100%{background-position:0% 94%}
}
@keyframes AnimationName {
  0%{background-position:0% 94%}
  50%{background-position:100% 7%}
  100%{background-position:0% 94%}
} */

h1 {
  color: aliceblue;
}

#nav-footer{
  flex: 1;
  justify-content: flex-end;
  position: relative;
}
